[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
Faker = "14.2.0"
importlib-resources = "5.10.0"
ipdb = "0.13.9"
pytest = "7.1.3"
sqlalchemy-serializer = "*"
pandas = "*"
Flask-Cors = "*"
Flask-Bcrypt = "*"
flask = "*"
gunicorn = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.8"
